/*MODIFICACIONES*/

      .img-header{
          width: 120px;
      }

    header {
       display: flex;
       justify-content: space-around; 
    }

    nav ul{
        display: flex;
        flex-wrap: wrap;
        
    }

    nav ul li{
        list-style: none;
        margin-right: 24px;
    }

    nav ul li a{
        text-decoration: none;
        color: #265F2D;
        font-family: major mono display;
        text-transform: lowercase;
    }

    /*.img-main{
        width: 100%;
    }

    .cultura-section{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
    }*/

    .section-title{
        margin: 25px;
        text-align: left;
    }

    /*.comportamientos{
        display: grid; 
        grid-auto-rows: 22rem;
        grid-template-columns: repeat(auto-fill, minmax(35rem, 3fr)); 
        gap: 1rem; 
        background-color: #f6aa85;
    }*/

    

    .insumos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    
        width: 100%;
    }

  

    

    /*-----------------------------*/

    
    .regla5-title{
        text-align: left;
        margin: 25px;
    }
    
    .regla5{
        background-image: url("/IMGS/mancha\ 2\ recetas.png");
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .regla5-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .toptrend {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
        width: 100%;
    }
    .guiso {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
      
        width: 100%; 
    }
    .postres {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
        width: 100%;
    }
    .img__recetas {
        height: 624px;
    }

     /*-----------------------------*/

    
    .itamae {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
        width: 100%;
    }
    .referentes {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
        width: 100%;

        background-image: url(../IMGS/mancha\ 3\ referentes.png);
    }
    .reseña {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
        width: 100%;
    }
    .img__referentes {
        height: 646px;
        width: 936px;
    }

     /*-----------------------------*/

     
    .celebra {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
        width: 100%;
    }
    .eventos {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
      
        width: 100%;
        background-color: #f6aa85;
    }
    .insta {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
        width: 100%;
    } 
    .img__eventos {
        height: 886px;
        width: 1304px;
    }

     /*-----------------------------*/

     
    .takai {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
        width: 100%;
    }
   
    
    .news {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
        width: 50%;
    }


    

    h1 {
        color: black;
        font-weight: normal;
        font-size: 48px;
        line-height: 55px;
        font-family: major mono display;
        text-transform: lowercase;
        width: 432px;
    }
    p { 
        color:  black;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        font-family: open sans;
        text-transform: capitalize;   
        display: inline-block;
        width: 432px;
    }

    /*SECTION*/
    /*.box__image--icon {
        height: 128px;
        width: 128px;
        display: inline-block;
        padding: 24px 144px 0px 144px;
        border-width: 24px;
    }*/
    .box__conteiner--destacado {
        background-color: #f6aa85;
        height: 588px;
    }

    /*SECTION CAROUSELES*/
    h2 {
        color: black;
        font-weight: normal;
        font-size: 32px;
        line-height: 36px;
        font-family: major mono display;
        text-transform: lowercase;
    }

    .box__conteiner--notrounded {
        background-color: #fde7da;
        height: 612px;
        width: 890px;
    }

    /*.box__button {
        height: 48px;
        width: 48px;
        color: white;
    }*/

    .box__conteiner {
        background-color: #fde7da;
        border-radius: 40px;
        height: 612px;
        width: 432px;
    }
    .box__image {
        border-radius: 40px;
        height: 432px;
        width: 432px;
    }
    .box__info {
    padding: 24px;
    }

    .box__title {
        color: black;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        font-family: open sans;
        text-transform: capitalize;
        padding: 0px 48px;
    }
    .box__title--destacado {
        background-color: #fde7da;
        border-radius: 40px;
        height: 72px;
        width: 202px;
        color: black;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        font-family: open sans;
        text-transform: capitalize;
        padding: 0px 48px;
    }
    .box__description {
        color:  black;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        font-family: open sans;
        text-transform: capitalize;
        width: 338px;
        padding: 0px 48px;
    }

    .text__list {
        list-style-type: none;
        color:  black;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        font-family: open sans;
        text-transform: capitalize;
        display: block;
        width: 432px;
    }
    .bordesredondeadosdestacados {
        border-radius: 40px;
        height: 288px;
        width: 428px;
    }

    .sushiballs--format {
        border-radius: 328px;
        height: 480px;
        width: 718px;
    }

    .box__image--large {
        border-radius: 40px;
        height: 288px;
        width: 428px;
    }

    .animate_box-l {
        border-radius: 40px;
        height: 800px;
        width: 432px;
    }
    .animate_box-l:hover {
       transform-origin: 0 100% 0;
        scale: 2;
       transition: all 3s linear;
    }
    .animate_box-m {
        border-radius: 40px;
        height: 800px;
        width: 432px;
    }
    .animate_box-m:hover {
        scale: 2;
       transition: all 3s linear;
    }
    .animate_box-r {
        border-radius: 40px;
        height: 800px;
        width: 432px;
    }
    .animate_box-r:hover {
       transform-origin: 100% 0 0;
        scale: 2;
       transition: all 3s linear;
    }

    .animate_resto {
        height: 612px;
        width: 432px;
    }
    .animate_resto:hover {
       transform-origin: 100% 0 0;
       rotate: y 45deg;
       transition: all 3s linear;
    }

    .animate_list {
        height: 612px;
        width: 432px;
    }
    .animate_list:hover {
        transform-origin: 0 100% 0;
       rotate: x 45deg;
       transition: all 3s linear;
    }

    .animate_agenda {
        height: 288px;
        width: 428px;
    }
    .animate_agenda:hover {
        transform-origin: 0 100% 0;
       rotate: 45deg;
       transition: all 3s linear;
    }
    

    /*FOOTER*/
    footer {
        background-color: #e95761;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        height: 288px;
    }
    .footerdata {   
        
        text-align: center;
    }
    .footer__title {
        color: white;
        font-weight: normal;
        font-size: 32px;
        line-height: 36px;
        font-family: major mono display;
        text-transform: lowercase;
    }
    .footer__contact {
        color:  white;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        font-family: open sans;
        text-transform: capitalize;
    }
    .redes {
        height: 88px;
        width: 228px;
        align-items: center;
    }
