footer {
    background-color: map-get($map: $colors, $key:footer-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: 288px;
}
.footerdata {   
    
    text-align: center;

    &__title {
        color: map-get($map: $colors, $key:base);
        font-weight: normal;
        font-size: 32px;
        line-height: 36px;
        font-family: major mono display;
        text-transform: lowercase;
    }
    
    &__contact {
        color: map-get($map: $colors, $key:base);
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        font-family: open sans;
        text-transform: capitalize;   
    }
}

.redes {
    height: 88px;
    width: 228px;
    align-items: center;
}