.section-title{
    margin: 25px;
    text-align: left;
}

.referentes {
    @include flex;
    width: 100%;
}

.box__image {
    border-radius: 40px;
    height: 432px;
    width: 432px;

    &__title {
        background-color: map-get($map: $colors, $key:outstanding-color);
        border-radius: 40px;
        height: 72px;
        width: 202px;
        color: map-get($map: $colors, $key:text-color);
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        font-family: open sans;
        text-transform: capitalize;
        padding: 0px 48px;
    }

    &__description{
        color: map-get($map: $colors, $key:text-color);
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        font-family: open sans;
        text-transform: capitalize;
        width: 338px;
        padding: 0px 48px;
    }
}

h2 {
    color: map-get($map: $colors, $key:text-color);
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    font-family: major mono display;
    text-transform: lowercase;
}

.reseña {
    @include flex;
    width: 100%;
}

.box__conteiner--notrounded {
    background-color: map-get($map: $colors, $key:outstanding-color);
    height: 612px;
    width: 890px;
}

.text__list {
    list-style-type: none;
    color: map-get($map: $colors, $key:text-color);
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    font-family: open sans;
    text-transform: capitalize;
    display: block;
    width: 432px;
}

.sushiballs--format {
    border-radius: 328px;
    height: 480px;
    width: 718px;
}