.img__referentes {
    height: 646px;
    width: 936px;
}

.img__eventos {
    height: 886px;
    width: 1304px;
}

.box__conteiner--destacado {
    background-color: #f6aa85;
    height: 588px;
}

.box__info {
    padding: 24px;
}

.bordesredondeadosdestacados {
    border-radius: 40px;
    height: 288px;
    width: 428px;
}