$colors: (
    base: white,
    hyperlinks: #265F2D,
    text-color: black,
    outstanding-title-color: #EF7B5D,
    outstanding-color: #FDE7DA,
    featured-section-color: #F6AA85,
    footer-color: #E95761
)

